<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h5>注文情報確認</h5>
      <table border="2" class="table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>

        <tbody>
          <% current_customer.cart_items.each do |item| %>
            <tr>
              <td><%= item.item.name %></td>
              <td><%= (item.item.with_tax_price).to_s(:delimited) %></td>
              <td><%= item.amount %></td>
              <td><%= item.subtotal.to_s(:delimited) %></td>
              <% @total += item.subtotal %>
            </tr>
          <% end %>
        </tbody>
      </table>

      <table border="2" class="table">
        <tbody>
          <tr>
            <th>送料</th>
            <td><%= @order.postage %></td>
          </tr>
          <tr>
            <th>商品合計</th>
            <td><%= @total.to_s(:delimited) %></td>
          </tr>
          <tr>
            <th>請求額</th>
            <% @order.amount_billed += @total %>
            <td><%= @order.amount_billed.to_s(:delimited) %></td>
          </tr>
        </tbody>
      </table>

      <label>支払方法</label>
      <sapn><%= @order.payment_method_i18n %></sapn><br>
      <label>お届け先</label>
      <span><%= @order.shipping_address_display %></span>

      <%= form_with model: @order, url: orders_path, local: true do |f| %>
        <%= f.hidden_field :shipping_postal_code %>
        <%= f.hidden_field :shipping_address %>
        <%= f.hidden_field :shipping_name %>
        <%= f.hidden_field :postage, value: 800 %>
        <%= f.hidden_field :amount_billed %>
        <%= f.hidden_field :payment_method %>
        <%= f.hidden_field :customer_id, :value => current_customer.id %>
        <%= f.submit '注文を確定する', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>