<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <h3>商品一覧</h3>
      <label>(全<%= Item.count %>件)</label>
      <div class="d-flex flex-row bd-highlight mb-3">
      <% @items.each do |item| %>
        <div class="p-2 bd-highlight">
          <%= link_to item_path(item.id) do %>
            <%= image_tag item.image, width: '150', height: '150' %><br>
            <label><%= item.name %></label><br>
            <label>¥<%= item.with_tax_price.to_s(:delimited) %></label>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>